<!DOCTYPE html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel="stylesheet" href="/stylesheets/master.css">
  </head>
  <body>
    <a href="/">HOME</a>
    {{!-- thriple scribblebrackets is like a router view --}}
    {{{body}}}
    <a href="/user1">user 1</a>
    <a href="/user2">user 2</a>
  </body>
</html>
